# temp files from editors
*~
*.bak
*.pyc
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/

# third party components
/bower_components/
/node_modules/

# application
/db_repository/
app.db
ir_tmp_code.txt

# node-red
node-red/*
!node-red/Dockerfile
!node-red/package.json
!node-red/smart_remote.json

# Docker files
/docker/*
!/docker/.*
